<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Event_ID %>
    <%= form.select :event_id, options_from_collection_for_select(Event.all, "id", "title")%>
  </div>

  <div class="field">
    <%= form.label :FirstName %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :LastName %>
    <%= form.text_area :last_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
